*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

.main{
display:flex;
min-height:100vh;
background:linear-gradient(135deg,#0f172a,#7f1d1d,#f59e0b);
}

/* SIDEBAR */

.sidebar{
width:250px;
padding:30px 20px;
background:rgba(0,0,0,0.3);
backdrop-filter:blur(15px);

display:flex;
flex-direction:column;
gap:18px;
}

.sidetitle{
color:white;
text-align:center;
margin-bottom:20px;
font-size:32px;
}

.sidebar button{
padding:16px;
border:none;
border-radius:16px;
background:rgba(255,255,255,0.12);
color:white;
font-size:16px;
cursor:pointer;
transition:0.3s;
}

.sidebar button:hover{
background:#f59e0b;
transform:translateX(6px);
}

/* CONTENT */

.content{
flex:1;
padding:30px;
}

/* HERO */

.hero{
height:300px;
border-radius:35px;

background:
linear-gradient(
rgba(0,0,0,0.45),
rgba(0,0,0,0.55)
),

url("https://images.unsplash.com/photo-1517849845537-4d257902454a?q=80&w=1400");

background-size:cover;
background-position:center;

display:flex;
justify-content:center;
align-items:center;

margin-bottom:35px;
}

.overlay{
text-align:center;
color:white;
padding:20px;
}

.overlay h1{
font-size:48px;
margin-bottom:15px;
}

.overlay p{
font-size:22px;
}

/* TITLE */

.title{
text-align:center;
color:white;
font-size:38px;
margin-bottom:30px;
}

/* CARDS */

.cardbox{
display:grid;
grid-template-columns:
repeat(auto-fit,minmax(240px,1fr));
gap:22px;
}

.card{
padding:28px;
border-radius:28px;
background:rgba(255,255,255,0.12);
color:white;
backdrop-filter:blur(18px);

transition:0.4s;
}

.card:hover{
transform:translateY(-8px);
box-shadow:0 0 25px rgba(245,158,11,0.4);
}

.card h2{
margin-bottom:15px;
}

/* MOBILE */

@media(max-width:768px){

.main{
flex-direction:column;
}

.sidebar{
width:100%;
flex-direction:row;
flex-wrap:wrap;
justify-content:center;
}

.content{
padding:15px;
}

.overlay h1{
font-size:28px;
}

.hero{
height:220px;
}

.cardbox{
grid-template-columns:1fr;
}

}
.card,
.statcard,
.sidebar button{

transition:0.4s;
}

.card:hover,
.statcard:hover{

transform:
translateY(-8px)
scale(1.02);

}

.sidebar button:hover{

transform:
translateX(8px);

}
button{
transition:0.3s;
}

button:hover{
transform:scale(1.05);
box-shadow:0 0 20px rgba(245,158,11,0.45);
}

input{
transition:0.3s;
}

input:focus{
box-shadow:0 0 18px rgba(245,158,11,0.45);
}

.card,
.bullcard,
.paycard,
.teamcard,
.placecard,
.gallerycard,
.aboutbox{
animation:fadeup 0.8s ease;
}

@keyframes fadeup{
from{
opacity:0;
transform:translateY(30px);
}
to{
opacity:1;
transform:translateY(0);
}
}
button{
transition:0.3s;
}

button:hover{
transform:scale(1.04);
box-shadow:0 0 20px rgba(245,158,11,0.5);
}

input,
select{
transition:0.3s;
}

input:focus,
select:focus{
outline:none;
box-shadow:0 0 18px rgba(245,158,11,0.5);
}

.card,
.bullcard,
.teamcard,
.placecard,
.paycard,
.aboutbox{
animation:fadeup 0.7s ease;
}

@keyframes fadeup{
from{
opacity:0;
transform:translateY(25px);
}
to{
opacity:1;
transform:translateY(0);
}
}